* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-height: 100dhv;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #323;
    height: 75px;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;


    .head-wrapper {
        display: flex;
        align-items: end;
        justify-content: space-between;
        width: 80%;


        & h1, h3 {
            margin: 0;
        }
    }
}

.title-cont {
    display: flex;
    justify-content: space-between;

    & img {
        width: 20px;
        height: 20px;
    }
}

.categories {
    width: 95%;
    margin: 0 auto;
}

.pwds {

    width: 95%;
    margin: 0 auto;
    border-radius: 15px;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .8rem;
}

.pwd {
    border: 3px solid tomato;

    padding: 10px;

    border-radius: 5px;

    .pwd-title {
        border-radius: 3px;
        padding: 2px;
        color: tomato;
    }

    .pwd-uname-text, .pwd-text {
        padding: 0 5px 0 3px;
        margin: 0;
    }

    & input {
        height: 30px;
    }

    .radio {
        height: fit-content;
        transform: translateY(4px);
    }

    & p {
        display: inline;
        font-size: 10px;
    }
}

.pwds .pwd:nth-child(1) {
    background-color: tomato;
    border: none;
    grid-column: 1/-1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & h2 {
        margin: 0;
        color: white;
    }

    & img {
        width: 50px;
    }
}

footer {
    background-color: #323;
    height: 50px;
    
    color: white;
    font-size: 11px;

    display: flex;
    align-items: center;
    justify-content: center;

    & p {
        padding: 0;
        margin: 0;
    }
}

@media(min-width:426px) {
    .categories {
        width: 80%;
    }

    .pwds {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width:700px) {
    .pwds {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width:1040px) {
    .pwds {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(min-width:1440px) {
    .pwds {
        grid-template-columns: repeat(5, 1fr);
    }
}